<footer class="text-center custom-bg-dark text-white mt-auto">
    <div class="container pt-3">
        <section class="mb-3">
            <a class="btn btn-link text-white btn-floating" href="https://vu4ll.com.tr/" role="button" target="_blank">
                <i class="fa-solid fa-link fa-2x"></i>
            </a>

            <a class="btn btn-link text-white btn-floating" href="https://vu4ll.com.tr/github" role="button" target="_blank">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </section>
    </div>

    <div class="text-center text-white p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; 2025 Copyright
    </div>
</footer>