<footer class="text-center custom-bg-dark text-white mt-auto">
    <div class="container pt-3">
        <section class="mb-2">
            <a class="btn btn-link text-white btn-floating" href="https://vu4ll.com.tr/github" role="button"
                target="_blank">
                <i class="fab fa-github fa-2x"></i>
            </a>
            
            <a class="btn btn-link text-white btn-floating" href="https://vu4ll.com.tr/" role="button" target="_blank">
                <i class="fa-solid fa-link fa-2x"></i>
            </a>
        </section>
    </div>

    <div class="text-center py-2"
        style="background: linear-gradient(to right, #1f1f1f, #2c2c2c); font-size: 0.95rem; color: #cccccc;">
        <p class="mb-1">
            <i class="fa-regular fa-copyright"></i> <%= new Date().getFullYear() %>
            <span style="font-weight: 600;">Tüm Hakları Saklıdır</span> —

            <a href="https://github.com/Vu4ll/sat/blob/main/package.json#L3" target="_blank"
                style="font-weight: bold; text-decoration: none;">
                v<%= version %>
            </a>
        </p>
    </div>
</footer>