<nav class="navbar navbar-expand-lg navbar-dark custom-bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-wallet me-2"></i>Gider Takip</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <div class="form-check form-switch nav-link d-flex align-items-center">
                        <input class="form-check-input me-2" type="checkbox" id="themeToggle">
                        <label class="form-check-label text-white" for="themeToggle">
                            <i class="fas fa-moon"></i>
                        </label>
                    </div>
                </li>
                <% if (user) { %>
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    <% if (role === "admin") { %>
                        <li class="nav-item"><a class="nav-link" href="/admin/categories">Kategori Yönetimi</a></li>
                    <% } %>
                    <li class="nav-item"><a class="nav-link" href="/logout">Çıkış Yap</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/login">Giriş Yap</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Kayıt Ol</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>