<div class="container mt-5">
    <h2 class="text-center">Kategori Yönetimi</h2>
    <br>
    <form action="/categories/add" method="POST" class="d-flex mb-4 justify-content-center">
        <input type="text" name="name" class="form-control w-25 me-2" placeholder="Yeni kategori adı">
        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>

    <ul class="list-group w-50 mx-auto">
        <% categories.forEach(category => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= category.name %>
                <form action="/categories/delete/<%= category._id %>" method="POST" onsubmit="return confirm('Silmek istediğine emin misin?');">
                    <button type="submit" class="btn btn-sm btn-danger">Sil</button>
                </form>
            </li>
        <% }) %>
    </ul>
</div>
