<div class="container">
    <h2 class="text-center">Kayıt Ol</h2>
    <form action="/register" method="post" class="w-50 mx-auto mt-3">
        <div class="mb-3">
            <label class="form-label">E-posta</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Şifre</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Kayıt Ol</button>
    </form>
</div>
