<div class="container mt-5">
    <form action="/forgot-password" method="POST" class="w-50 mx-auto mt-3">
        <h2 class="mt-4">Şifre Sıfırlama</h2>
        <p>Şifrenizi sıfırlamak için e-posta adresinizi girin:</p>

        <div class="mb-3">
            <label class="form-label">E-posta adresi</label>
            <input type="email" class="form-control" name="email" placeholder="E-posta adresinizi giriniz" required>
        </div>

        <button type="submit" class="btn btn-primary">Sıfırlama Bağlantısı Gönder</button>
    </form>
</div>