<div class="container mt-5">
    <div class="w-50 mx-auto mt-3">
        <h2 class="mt-4">Şifre Sıfırlama</h2>

        <% if (messages.success) { %>
            <div class="alert alert-success"><%= messages.success %></div>
        <% } %>

        <p>
            5 saniye içinde giriş sayfasına yönlendirileceksiniz. Yönlendirme başarısız olursa
            <a href="/login" class="text-decoration-none">buraya</a> tıklayın.
        </p>
    </div>
</div>

<script>
    setTimeout(() => window.location.href = '/login', 5000);
</script>