<div class="container mt-5">
    <form action="/reset-password" method="POST" class="mx-auto mt-3" style="max-width: 500px;">
        <h2 class="mt-4">Yeni Şifre Belirleyin</h2>
        <p>Lütfen yeni şifrenizi girin:</p>

        <input type="hidden" name="token" value="<%= token %>">
        <div class="mb-3">
            <label class="form-label">Yeni şifre</label>
            <input type="password" class="form-control" name="newPassword" placeholder="Yeni şifrenizi giriniz"
                required>
        </div>

        <div class="mb-3">
            <label class="form-label">Yeni şifre tekrar</label>
            <input type="password" class="form-control" name="confirmNewPassword"
                placeholder="Yeni şifrenizi tekrar giriniz" required>
        </div>

        <button type="submit" class="btn btn-success">Şifreyi Güncelle</button>
    </form>
</div>

<style>
    @media (max-width: 768px) {
        form {
            padding: 15px;
        }
    }
</style>